<a href="/ordemsdeservico/cadastrar"><button class="btn btn-success">Nova Ordem de Servico</button></a>
<hr>

<h2> Lista de Ordems de Servico: </h2>
{{#each os}}
    <div class="card mt-4">
        <div class="card-body">
        
        <h4>{{id}}</h1>
        
        <p>Tipo de Ordem: {{tipoordem}}</p>
        <p>Status: {{status}}</p>
        <p>Data de Solicitação: {{datadesolicitacao}}</p>
 
        <a href="/ordemsdeservico/editar/{{id}}"><button class="btn btn-success mt-2">Editar Ordem de Servico</button></a>
        <form action = "/ordemsdeservico/deletar" method="POST">
            <input type="hidden" name="id" value="{{id}}">
            <button type="submit" class="btn btn-danger mt-2">Deletar Ordem de Servico</button>
        </form>
        </div>
    </div>
{{else}}
    <h4> Nenhuma Ordem de Serviço registrada</h4>
{{/each}}

<hr>
<a href="/ordemsdeservico/cadastrar"><button class="btn btn-success">Nova Ordem de Servico</button></a>