<a href="/clientes/cadastrar"><button class="btn btn-success">Novo cliente</button></a>
<hr>

<h2> Lista de clientes: </h2>

{{#each clientes}}
    <div class="card mt-4">
        <div class="card-body">
        <h4>{{nome}}</h1>
        <p>Telefone: {{telefone}}</p>
        <p>Celular: {{celular}}</p>
        <p>Email: {{email}}</p>
        <a href="/clientes/editar/{{idcliente}}"><button class="btn btn-success mt-2">Editar cliente</button></a>
         </div>
    </div>
{{else}}
    <h4> Nenhum cliente registrado</h4>
{{/each}}

<hr>
<a href="/clientes/cadastrar"><button class="btn btn-success">Novo cliente</button></a>